#================================================
# Makefile
#================================================

/**/bin/
/**/build/

#================================================
# Eclipse
#================================================

/**/Release/
/**/Debug/
/**/.metadata/
/**/.settings/
/**/.project
/**/.cproject
