/*===============================================*/
/* style commun */
/*===============================================*/
/* QWidget */
QWidget {
    background-color: transparent;
    font-family: arial;
    font-size: 16px;
    color: white;
    border: none;
}
/*===============================================*/
/* style personnalise */
/*===============================================*/
/* GDialog */
QDialog#GDialog {
    background-color: #020b4f;
    min-width: 400px;
    padding: 10px;
}
/*-----------------------------------------------*/
/* GLabel */
QLabel#GLabel {
    font-weight: normal;
    font-size: 16px;
    color: #000080;
}
/*-----------------------------------------------*/
/* GLabel2 */
QLabel#GLabel2 {
    background-color: #536d5a;
    padding: 0px 0px 0px 5px;
    min-width: 100px;
}
/*-----------------------------------------------*/
/* GLineEdit */
QLineEdit#GLineEdit {
    background-color: #dddddd;
    padding: 0px 5px 0px 5px;
    color: navy;
}
/*-----------------------------------------------*/
/* QMenu */
QMenu {
    background-color: #02062e;
    border: 1px solid #aaddaa;
    min-width: 100px;
}
QMenu::item {
    background-color: transparent;
}
QMenu::item:selected { 
    background-color: #4e516d;
}
/*-----------------------------------------------*/
/* GMenu */
QFrame#GMenu {
    background-color: #536d5a;
}
/*-----------------------------------------------*/
/* GModule */
QFrame#GModule {
    background-color: #020b4f;
    border: 5px solid #536d5a;
    min-width: 50px;
    min-height: 50px;
}
/*-----------------------------------------------*/
/* GRow */
QFrame#GRow {
    background-color: transparent;
    border: 2px solid #536d5a;
}
/* QScrollBar */
QScrollBar:vertical {
    border: none;
    background: #4e516d;
    width: 15px;
    margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical {
    background: #02062e;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border: none;
    background: #02062e;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: none;
    background: #02062e;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, 
QScrollBar::down-arrow:vertical {
    background: #4e516d;
    width: 4px;
    height: 4px;
}
QScrollBar::add-page:vertical, 
QScrollBar::sub-page:vertical {
    background: none;
}
/*-----------------------------------------------*/
/* GSection */
QFrame#GSection {
    background-color: #536d5a;
    padding: 0px 5px 0px 0px;
}
/*-----------------------------------------------*/
/* GStatusBar */
QFrame#GStatusBar {
    background-color: #536d5a;
}
/*-----------------------------------------------*/
/* GTitle */
QFrame#GTitle {
    background-color: #536d5a;
}
/*-----------------------------------------------*/
/* GToolButton */
QToolButton#GToolButton {
    padding: 5px;
}
QToolButton#GToolButton:hover { 
    background-color: #87998c;
}
/*-----------------------------------------------*/
/* GToolButton2 */
QToolButton#GToolButton2 {
    padding: 5px;
}
QToolButton#GToolButton2:hover {
    background-color: #ff0000;
}
/*-----------------------------------------------*/
/* QToolTip */
QToolTip {
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
    font-family: arial;
    font-size: 16px;
    color: #ffaaaa;
}
/*-----------------------------------------------*/
/* GWindow */
QFrame#GWindow {
    background-color: #02062e;
    min-width: 640px;
    min-height: 480px;
}
/*-----------------------------------------------*/
/* GWorkspace */
QFrame#GWorkspace {
    background-color: #000000;
}
/*===============================================*/
