/*===============================================*/
/* style commun */
/*===============================================*/
/* QWidget */
QWidget {
    background-color: transparent;
    font-family: arial;
    font-size: 16px;
    color: white;
    border: none;
}
/*===============================================*/
/* style personnalise */
/*===============================================*/
/* GButtonMap */
QFrame#GButtonMap {
    padding: 5px;
}
/*-----------------------------------------------*/
/* QCheckBox */
QCheckBox {
    spacing: 0px;
}
QCheckBox::indicator {
    border: none;
    min-width: 14px;
    min-height: 14px;
}
QCheckBox::indicator::unchecked {
    background-color: #4e516d;
}
QCheckBox::indicator:unchecked:hover {
    background-color: #4e516d;
}
QCheckBox::indicator:unchecked:pressed {
    background-color: #4e516d;
    image: url(:/img/check.png);
}
QCheckBox::indicator::checked {
    background-color: transparent;
    image: url(:/img/check.png);
}
QCheckBox::indicator:checked:hover {
    background-color: transparent;
    image: url(:/img/check.png);
}
QCheckBox::indicator:checked:pressed {
    background-color: transparent;
    image: url(:/img/check.png);
}
/*-----------------------------------------------*/
/* GIcon */
QToolButton#GIcon {
    padding: 0px;
}
QToolButton#GIcon:hover {
    background-color: transparent;
}
QToolButton#GIcon:pressed {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* QComboBox */
QComboBox {
    padding: 2px 5px;
}
QComboBox:editable {
    background-color: #02062e;
}
QComboBox:!editable, 
QComboBox::drop-down:editable {
    background-color: #02062e;
}
QComboBox:!editable:on, 
QComboBox::drop-down:editable:on {
    background-color: #02062e;
}
QComboBox:on { 
    /*padding-top: 0px;
    padding-left: 0px;*/
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 2px;
    border-left-color: #536d5a;
    border-left-style: solid; 
}
QComboBox::down-arrow {
    image: url(:/img/arrow_down.png);
}
QComboBox::down-arrow:on {
    /*top: 1px;
    left: 1px;*/
}
QComboBox QAbstractItemView {
    border: 2px solid #536d5a;
    selection-background-color: transparent;
}
/*-----------------------------------------------*/
/* QDialog */
QDialog {
    background-color: #02062e;
}
/*-----------------------------------------------*/
/* GDialog */
QFrame#GDialog {
    background-color: #02062e;
    border: 2px solid #536d5a;
    min-width: 400px;
    min-height: 200px;
}
/*-----------------------------------------------*/
/* GLabel */
QLabel#GLabel {
    font-weight: normal;
    font-size: 16px;
    color: #000080;
}
/*-----------------------------------------------*/
/* GLabel2 */
QLabel#GLabel2 {
    background-color: #536d5a;
    color: black;
    min-width: 100px;
    padding-left: 5px;
}
/*-----------------------------------------------*/
/* GLabel3 */
QLabel#GLabel3 {
    font-size: 12px;
}
/*-----------------------------------------------*/
/* GLineEdit */
QLineEdit#GLineEdit {
    background-color: #eeeeee;
    padding: 2px 5px 2px 5px;
    color: navy;
}
/*-----------------------------------------------*/
/* QListView */
QListView {
    show-decoration-selected: 1; 
    border: none;
    outline: 0px;
}
QListView::item {
    padding: 2px 5px;
    border: none;
}
QListView::item:alternate {
    background-color: transparent;
}
QListView::item:selected {
    border: none;
}
QListView::item:selected:!active {
    background-color: transparent;
}
QListView::item:selected:active {
    background-color: #4e516d;
}
QListView::item:hover {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* QMenu */
QMenu {
    background-color: #02062e;
    border: 1px solid #aaddaa;
    min-width: 100px;
}
QMenu::item {
    background-color: transparent;
}
QMenu::item:selected { 
    background-color: #4e516d;
}
/*-----------------------------------------------*/
/* GMenu */
QFrame#GMenu {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* GModule */
QFrame#GModule {
    background-color: #020b4f;
    border: 1px solid #aaddaa;
    margin: 5px;
    min-width: 50px;
    min-height: 50px;
}
QFrame#GModule[status="CHECK"] {
    background-color: #37b46b;
}
QFrame#GModule[status="CURRENT"] {
    background-color: red;
}
QFrame#GModule[status="CURRENT_CHECK"] {
    background-color: orange;
}
/*-----------------------------------------------*/
/* QPushButton */
QPushButton {
    background-color: #536d5a;
    min-width: 50px;
    padding: 5px 10px;
    margin: 5px;
}
QPushButton:hover {
    background-color: #87998c;
}
/*-----------------------------------------------*/
/* GRow */
QFrame#GRow {
    background-color: #536d5a;
    border: 2px solid #536d5a;
    margin: 10px;
    spacing: 10px;
}
/*-----------------------------------------------*/
/* QScrollBar */
QScrollBar:vertical {
    border: 1px solid #4e516d;
    background-color: #4e516d;
    width: 20px;
    margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical {
    background-color: #02062e;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border: 1px solid #4e516d;
    background-color: #02062e;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: 1px solid #4e516d;
    background-color: #02062e;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical {
    image: url(:/img/arrow_up.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::down-arrow:vertical {
    image: url(:/img/arrow_down.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::add-page:vertical, 
QScrollBar::sub-page:vertical {
    background-color: none;
}
/*-----------------------------------------------*/
/* QScrollBar */
QScrollBar:horizontal {
    border: 1px solid #4e516d;
    background-color: #4e516d;
    height: 20px;
    margin: 0px 22px 0 22px;
}
QScrollBar::handle:horizontal {
    background-color: #02062e;
    min-width: 20px;
}
QScrollBar::add-line:horizontal {
    border: 1px solid #4e516d;
    background-color: #02062e;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: 1px solid #4e516d;
    background-color: #02062e;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::left-arrow:horizontal {
    image: url(:/img/arrow_left.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::right-arrow:horizontal {
    image: url(:/img/arrow_right.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::add-page:horizontal, 
QScrollBar::sub-page:horizontal {
    background-color: none;
}
/*-----------------------------------------------*/
/* GSection */
QFrame#GSection {
    background-color: transparent;
    padding: 0px 5px 0px 0px;
}
/*-----------------------------------------------*/
/* QSizeGrip */
QSizeGrip {
    image: url(:/img/sizegrip.png);
    min-width: 10px;
    min-height: 10px;
}
/*-----------------------------------------------*/
/* GStatusBar */
QFrame#GStatusBar {
    background-color: transparent;
}
/*-----------------------------------------------*/
QTabWidget::pane {
    border-top: 2px solid red;
}
QTabWidget::tab-bar {
    left: 5px;
}
QTabBar::tab {
    background-color: #4e516d;
    border: 1px solid #aaaacc;
    border-bottom-color: #4e516d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8px;
    padding: 2px;
}
QTabBar::tab:hover {
    background-color: #81625b;
}
QTabBar::tab:selected {
    background-color: #020b4f;
    border-color: #aaddaa;
    border-bottom-color: #020b4f;
}
QTabBar::tab:!selected {
    margin-top: 2px; 
}
QTabWidget::pane {
    border-top: 1px solid #aaddaa;
}
/*-----------------------------------------------*/
/* GTitle */
QFrame#GTitle {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* GTitle */
QFrame#GTitle2 {
    background-color: transparent;
    color: orange; 
}
/*-----------------------------------------------*/
/* QToolButton */
QToolButton {
    padding: 5px;
}
QToolButton:hover { 
    background-color: #87998c;
}
QToolButton:pressed { 
    background-color: transparent;
}
/*-----------------------------------------------*/
/* GToolButton */
QToolButton#GToolButton {
    padding: 5px;
}
/*-----------------------------------------------*/
/* GToolButton2 */
QToolButton#GToolButton2:hover {
    background-color: #ff0000;
}
/*-----------------------------------------------*/
/* GToolButton3 */
QToolButton#GToolButton3 {
    padding: 0px 5px;
}
/*-----------------------------------------------*/
/* GToolButton4 */
QToolButton#GToolButton4 {
    padding: 0px;
}
QToolButton#GToolButton4:hover {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* QToolTip */
QToolTip {
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
    font-family: arial;
    font-size: 16px;
    color: #ffaaaa;
}
/*-----------------------------------------------*/
/* GWindow */
QFrame#GWindow {
    background-color: #02062e;
    border-image: url(:/img/vision.png);
    background-repeat: repeat-xy;
    background-position: center;
    background-attachment: fixed;
    min-width: 640px;
    min-height: 480px;
}
/*-----------------------------------------------*/
/* GWorkspace */
QFrame#GWorkspace {
    background-color: transparent;
    border: 10px solid transparent;
    border-image: url(":/img/border.png") 30 round;
}
/*===============================================*/
